# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Temporary files
*.tmp
*.log